extends layout
block head
  title Welcome! - TrioEngine
block body
  br
  h1.bold Welcome to TrioEngine!
  h3 TrioEngine은 강력한 웹서버 엔진입니다.
  br
  h3 TrioEngine을 통해 완벽한 웹서버를 구축하세요.
  br
  h4 이 TrioEngine 버전: 1.0.0v
  h4 제작: ZEONPLEX DEV STUDIO
  h4 배포: ZEONPLEX
  br
  h5 © 2019 ZEONPLEX DEV STUDIO All Rights Reserved.